beautifulsoup4==4.15.0
fastapi==0.138.0
feedparser==6.0.12
google_api_python_client==2.197.0
google_auth_oauthlib==1.4.0
keybert==0.9.0
keyphrase_vectorizers==0.0.13
networkx==3.6.1
numpy==2.5.0
pandas==3.0.3
praw==8.0.1
protobuf==7.35.1
python-dotenv==1.2.2
Requests==2.34.2
scikit_learn==1.9.0
selenium==4.45.0
sentence_transformers==5.6.0
spacy==3.8.14
uvicorn==0.49.0
webdriver_manager==4.0.2
